body {
   color: rgb(227, 227, 227);

   background:rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   
}
ul{
   
   
    display: flex;
      justify-content: space-between;
      list-style-type: none;
      align-items: center;
      padding: 16px;
}
a{color: rgb(24, 190, 132);}
#texto{
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   list-style-type:circle;
   align-items: center;
   padding: 50px;
   height: 500px;
}
header img{
   width: 600px;
   height: 300px;
 border: 20px cornsilk;
}
footer img{
 width: 40px;
 height: 40px;
 text-align:center;
}
